.*
.gitignore
!.gitignore
!.ls-lint.yml
!/.circleci/
!.gitkeep
!.editorconfig
!.eslintrc.js
!.stylelintrc.json
*.log
*.iml
/.idea/
/dist/
/dist-aot/
/aot/
/node_modules/
/coverage/
/target/
/core/coverage
